* {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #404041;
}

.colored-text {
	color: #E6E7E8;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

input#user-guess {
	display: block;
	padding: 5px;
	margin: 10px auto;
	border: 1px solid #000;
	width: 50%;
}

input {
	display: inline-block;
	padding: 5px;
	margin: 10px auto;
	border: 1px solid #000;
	width: 25%;
}

input#user-guess:hover,
input#user-guess:focus,
input:hover,
input:focus {
	border: 2px solid #EB008B;
}

button[type="button"] {
	background-color: #929497;
	width: 25%;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	border-radius: 25px;
	border-style: none;
	padding: 6px 15px;
}

button[type="button"]:hover {
	background-color: #EB008B;
}

button[disabled]{
	background-color:	#D0D2D3;
}

#new-range {
	display: block;
	width: 50%;
	margin: 0 auto;
}

#reset-game {
	display: block;
	margin: 0 auto;
}

.display-color {
	color: #EB008B;
}

header {
	background-color: #404041;
	height: auto;
	min-height: 70px;
	font-weight: 700;
}

h1 {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2.75em;
	margin: 10px;
	color: #ED458B;
}

h3 {
	font-weight: 300;
}

.display-last-guess {
	margin: 0 auto;
	font-size: 150px;
	height: 200px;
	width: 200px;
	text-align: center;
}

.display-last-guess h2 {
	margin: 0;
}

#reset-game {
	width: 50%;
}

.customize {
	margin-bottom: 5px;
}

@media (max-width: 500px){
	.display-last-guess {
		font-size: 80px;
		height: 100px;
		width: 100px;
	}

	#reset-game {
		width: 90%;
	}

	#new-range {
		width: 90%;
	}

	button[type="button"] {
		width: 45%;
	}

	input#user-guess {
		width: 90%;
	}
}
