* {
	box-sizing: border-box;
}

body {
	background-color: green;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

button {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #404041;
}
